<!DOCTYPE html>
<html lang="ja">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Happy women's day</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/slick-theme.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body id="top">
      
        <!--ここからヘッダー-->
        <header>
          <h1><a href="index.html"><img src="images/title.jpg" alt="Title"></a></h1>
            <nav id="global_navi">
                <ul class="menu">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="viewall.html">ITEM</a></li>
                    <li><a href="information.html">INFORMATION</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                <!--</ul>-->
                <!--<ul class="login">-->
                    <!--<li><a href="#">LOG IN</a></li>-->
                    <!--<li><a href="#">CART</a></li>-->
                </ul>
            </nav>
          <br>
        </header>
        <!--ヘッダーここまで-->
        
        <!--wrapperー-->
        <div id="wrapper">
            <!--ここからメイン-->
            <div id="main">
              <h2>CONTENTS</h2>
              <section id="womensdaytop">
                <img src="images/contents_women'sday.jpg" alt="womensday">
              </section>
            </div>
            <section class="wwrapper">
                <div class="wcontainer">
                  <div class="wcontent-title">
                    <div class="wtitletext">
                      <p>３月８日は国際女性デー｜女性の生き方を考える日</p>
                    </div>
                  </div>
                  <br>
                  <div class="wcontent">
                        <div class="wcontent-item">
                          <a href="item1.html"><img src="images/img/item1.jpg" alt="item1"></a>
                        </div>
                        <div class="wcontent-item">
                          <div class="wtext">
                            <p>１９０４年、ニューヨークで婦人参政権を求めたデモが起源となり、国連によって１９７５年に３月８日を「国際女性デー（International Women’s Day）」として制定されました。
「国際女性デー」は、すばらしい役割を担ってきた女性たちによってもたらされた勇気と決断を称える日です。
イタリアの「ミモザの日」は有名で、「FESTA DELLA DONNA（フェスタ・デラ・ドンナ＝女性の日）」とされ、女性に感謝を込めて、母親や妻、友人、会社の同僚などに愛や幸福の象徴でもあるミモザが贈られています。</p>
                          </div>
                        </div>
                  </div>
                  <br>
                  <!--<div id="buybutton">-->
                  <!--  <a href="item1.html">Buy</a>-->
                    <div><a href=item1.html class="buybutton">Buy</a></div>
                  <!--</div>-->
                  
                </div>
                <!--<br>-->

                    <!--<div id="itemall">-->
                    <!--  <div id="wcontents"-->
                    <!--    v-for="item in getMimoza()"-->
                    <!--    v-bind:key="item.id"-->
                    <!--  >-->
                    <!--    <a :href="item.link">-->
                          <!--<img :src="item.thumb" alt="item" v-if="item.name === 'ミモザ'">-->
                    <!--      <img :src="item.thumb" alt="item">-->
                    <!--    </a>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div-->
                    <!--    id = "buybutton"-->
                    <!--    v-for="item in items"-->
                    <!--    v-bind:key="item.id"-->
                    <!--  >-->
                    <!--    <a :href=item.link class="buy">Buy</a>-->
                    <!--</div>-->
                </section>
              
            </div>
            <!--メインここまで-->
        </div>
        <!--wrapperここまで-->
        
        <br>
        
        <small> © CHITOSE LTD.</small>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/top.js"></script>
        <script src="js/list.js"></script>
    </body>
</html>